// @import "~react-image-gallery/styles/scss/image-gallery.css";

.my-masonry-grid {
	display: flex;
	margin-left: -1rem; /* gutter size offset */
	width: auto;
}
.my-masonry-grid_column {
	padding-left: 1rem; /* gutter size */
	background-clip: padding-box;
}

/* Optional spacing between items */
.my-masonry-grid_column > div {
	margin-bottom: 1rem;
}

