.gridSquare {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	cursor: pointer;
}

/* 3D Flip Effect Styles */
.perspective-1000 {
	perspective: 1000px;
}

.backface-hidden {
	backface-visibility: hidden;
	background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1))
}

@keyframes moveLeft {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

.rotate-icon {
	animation: rotateToRightFast 0.2s ease-out forwards !important;
	
}

@keyframes rotateToRightFast {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}
