.imageAnimationFromRight {
	animation: fromOutsideRight 2s ease forwards;
}

@keyframes fromOutsideRight {
	0% {
		transform: translateX(300px);
	}
	100% {
		transform: translateX(0px);
	}
}


.imageAnimationFromLeft {
	animation: fromOutsideLeft 3s ease forwards;
}

@keyframes fromOutsideLeft {
	0% {
		transform: translateX(-300px);
	}
	100% {
		transform: translateX(0px);
	}
}
.locationImage {
	animation: movement 3s alternate-reverse infinite !important;
}

@keyframes movement {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-18px);
	}
}

.cameraImage {
	@media (max-width: 1024px) {
		height: 500px !important;
	}
}